
/* 

    font-family: 'Ranga', cursive; //Logo

    font-family: 'Mandali', sans-serif; //Titles & Headers

    font-family: 'PT Sans Narrow', sans-serif; //Paragraphs and other text

 */

 /* Container */
 .container {
    width: 100%;
 }

 /* Navbar */
.Navbar {
    background: rgb(75, 193, 197);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

/* Logo */
.Navbar__Logo {
    width: 5em;
    font-family: 'Ranga', cursive;
    font-size: 48px;
    text-align: center;
    padding: 5px;
    color: white;
    text-decoration: none;
}

/* Navbar Items */
ul {
    list-style: none;
}

.Navbar__Items {
    display: flex;
}

/* Navbar Links */
.Navbar__Link {
    font-family: 'Mandali', sans-serif;
    display: flex;
    text-align: center;
    padding: 1em;
    text-decoration: none;
    color: white;
}

.Navbar__Link:hover {
    color: rgb(233, 231, 231);
}

