
/* 

    font-family: 'Ranga', cursive; //Logo

    font-family: 'Mandali', sans-serif; //Titles & Headers

    font-family: 'PT Sans Narrow', sans-serif; //Paragraphs and other text

 */

 /* Navbar */


